{% extends 'flatpages/default.html' %}
{% load censor %}

{% block title %}
Post
{% endblock title %}

{% block content %}
   <h1>Новость № {{ post.pk }}</h1>
   <hr>
   {% if post %}
       <table>
           <tr>
               <td><h3>Заголовок</h3></td>
               <td><h3>Дата публикации</h3></td>
               <td><h3>Текст</h3></td>

           </tr>


           <tr>
               <td>{{ post.post_topic|bad_words }}</td>
               <td>{{ post.time|date:'d M Y' }}</td>
               <td>{{ post.post_text|bad_words}}</td>

           </tr>


       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}