{% extends 'flatpages/default.html' %}
{% load censor %}

{% block title %}
Post
{% endblock title %}

{% block content %}
{% load i18n %}
   <h1>{%trans 'News'%} № {{ post.pk }}</h1>
   <hr>
   {% if post %}
       <table>
           <tr>
               <td><h3>{%trans 'Topic'%}</h3></td>
               <td><h3>{%trans 'Date'%}</h3></td>
               <td><h3>{%trans 'Text'%}</h3></td>

           </tr>


           <tr>
               <td>{{ post.post_topic|bad_words }}</td>
               <td>{{ post.time|date:'d M Y' }}</td>
               <td>{{ post.post_text|bad_words}}</td>

           </tr>


       </table>
   {% else %}
       <h2>{%trans 'No news'%}!</h2>
   {% endif %}
{% endblock content %}